.bottom1 {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
  background-color: #47464a;
  height: 60px;
  width: 100%;
  min-width: 1200px;
}

.bottom1 ul {
  display: block;
  font-size: 16px;
  color: #999;
  height: 60px;
  line-height: 60px;
  padding: 0 40px;
  background-color: transparent;
}
