* {
  padding: 0px;
  margin: 0px;
}

.login {
  margin: 20px;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
}

.login h3 {
  color: red;
}

.login .left {
  margin: 30px;
}

.login .left .LLogo {
  display: flex;
}

.login .left .LLogo h1 {
  font-size: 36px;
  color: #d70000;
}

.login .left .LLogo img {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 30%;
}

.login .left .Ltupian img {
  margin: 50px;
}

.login .loginbox {
  height: 500px;
  width: 550px;
  padding-top: 30px;
  margin: 60px;
}

.Xbox {
  float: right;
  height: 40px;
  width: 40px;
  font-size: 20px;
  color: black;
  text-align: center;
}

.Xbox:hover {
  color: red;
  font-size: 24px;
}

.tab {
  display: flex;
  padding: 30px;
}

.tab h2 {
  margin-left: 20px;
}

.tab .tabed {
  border-bottom: 3px solid black;
}

.pwdWay,
.noteWay {
  margin: 10px;
}

.pwdWay input,
.noteWay input {
  margin: 10px;
  height: 45px;
  width: 280px;
  border: 1px solid #c9c9c9;
  padding: 0px 20px;
}

.pwdWay .submit,
.noteWay .submit {
  background-color: #eb5d5d;
  color: white;
  font-size: 18px;
}

.noteWay {
  margin-left: -20px;
}

.pfalse {
  font-size: 20px;
  color: red;
}

.ptrue {
  font-size: 20px;
  color: #50c724;
}
